[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LobsterCatch"]
	path = LobsterCatch
	url = https://github.com/pnickchi/lobstercatch
[submodule "gofedf"]
	path = gofedf
	url = https://github.com/pnickchi/gofedf
